<div id="rides" class="modal fade text-center">
    <div class="modal-dialog" id="profile-dialog">
        <div class="modal-content" id="profile-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="model-heading" class="text-center">My Rides </h4>
            </div>
            <div class="modal-body">

                <div class="card w-75">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <img src="images/taxi1.png" height="70px" width="70px">
                            </div>
                            <div class="col text-left">

                                <p class="card-text">Time</p>
                                <img src="images/green.png" height="7px" width="7px">
                                <span class="card-text">From</span><br>
                                <img src="images/red.png" height="7px" width="7px">
                                <span class="card-text">To</span>
                            </div>
                            <div class="col">
                                <p>fare</p>
                                <img src="images/driver.png" width="50px" height="50px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>