<!-- Button trigger modal -->
{{!-- <button data-toggle="modal" data-target="#supportList">modal</button> --}}

<div class="modal fade" id="supportList" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum adipisci corrupti animi autem officia
                    sequi quo eos, eius blanditiis assumenda. Porro culpa, odio ut in atque temporibus et doloremque
                    repellat.</p>
                <input type="text">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>