<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4 class="modal-title">How can we help you? </h4>
</div>
<div class="modal-body" id="style-1">
    <div class="row">
        <div class="col-lg-12">
            <div class="accordion " id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <h2 class="clearfix mb-0">
                            <span>PROBLEM WITH A JOURNEY OR CHARGE</span>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group" style="text-align: left;">
                                <a data-toggle="modal" href="#supportList">
                                    <li class="list-group-item">Final price different from estimated<i
                                            class="fas fa-greater-than "></i></li>
                                </a>

                                <li class="list-group-item">I have various charges<i class="fas fa-greater-than "></i>
                                </li>
                                <li class="list-group-item">My discount wasn't applied<i
                                        class="fas fa-greater-than "></i></li>
                                <li class="list-group-item">Driver took the wrong route<i
                                        class="fas fa-greater-than "></i></li>
                                <li class="list-group-item">I cancelled and was charged<i
                                        class="fas fa-greater-than "></i></li>
                                <li class="list-group-item">I had an accident<i class="fas fa-greater-than "></i></li>
                                <li class="list-group-item">Other<i class="fas fa-greater-than "></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                        aria-controls="collapseTwo" class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <span>PROBLEM WITH VEHICLE OR DRIVER</span>

                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group" style="text-align: left;">
                                <li class="list-group-item">Vehicle was damaged<i class="fas fa-greater-than "></i></li>
                                <li class="list-group-item">Poor or dangerous driving<i
                                        class="fas fa-greater-than "></i>
                                </li>
                                <li class="list-group-item">Innappropriate conduct<i class="fas fa-greater-than "></i>
                                </li>
                                <li class="list-group-item">Arrived late to pick up<i class="fas fa-greater-than "></i>
                                </li>
                                <li class="list-group-item">Vehicle was unclean<i class="fas fa-greater-than "></i></li>
                                <li class="list-group-item">Other problem<i class="fas fa-greater-than "></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                        aria-controls="collapseThree" class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <span>MY ACCOUNT</span>

                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group" style="text-align: left;">
                                <li class="list-group-item">My account has been suspended<i
                                        class="fas fa-greater-than "></i></li>
                                <li class="list-group-item">I've forgotten my password<i
                                        class="fas fa-greater-than "></i>
                                </li>
                                <li class="list-group-item">I can't order a vehicle<i class="fas fa-greater-than "></i>
                                </li>
                                <li class="list-group-item">I want to delete my account<i
                                        class="fas fa-greater-than "></i>
                                </li>
                                <li class="list-group-item">Change password<i class="fas fa-greater-than "></i></li>
                                <li class="list-group-item">Changes in my account<i class="fas fa-greater-than "></i>
                                </li>
                                <li class="list-group-item">Change financial/bank details<i
                                        class="fas fa-greater-than "></i></li>
                                <li class="list-group-item">Someone accessed my account without my consent<i
                                        class="fas fa-greater-than "></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                        aria-controls="collapseFour" class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <span>PAYMENT METHOD</span>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group" style="text-align: left;">
                                <li class="list-group-item">I can't add a payment method<i
                                        class="fas fa-greater-than "></i></li>
                                <li class="list-group-item">More info about payment methods<i
                                        class="fas fa-greater-than "></i>
                                </li>
                                <li class="list-group-item">I have a charge that isn't mine<i
                                        class="fas fa-greater-than "></i>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

