<!--header start-->
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="btn btn-outline-warning btn-md"><i class="fas fa-arrow-left"></i></button>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <a class="navbar-brand" href="/">
                            <img src="logo.png" width="80" height="40" class="d-inline-block align-top" alt="">
                        </a>
                    </div>
                    <div class="col-md-4 my-auto d-flex justify-content-end">
                        <h4 class="user-text">Username</h4>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<!--header end-->

    <!--sidebar menu-->
    <section class="">
        <div class="navbar-collapse collapse menu" id="navbarsExample01" style="">
            <div class="container-fluid">
                <div class="row d-flex justify-content-end">
                    <div class="col-md-4 bg-dark">
                        <div class="d-flex justify-content-center bg-dark">
                            <img src="user.png" class="image-circle mt-5 mb-3 bg-white" height="150px" width="150px">
                        </div>
                        <h2 class="d-flex justify-content-center mb-3 user-text">Username</h2>
                        <div class="list-group mb-5" id="list-tab" role="tablist">
                            <a href="updateprofile"
                                class="list-group-item list-group-item-action button-decoration1 text-center">Update
                                Profile</a>
                            <a href="lastride"
                                class="list-group-item list-group-item-action button-decoration1 text-center">Last
                                Rides</a>
                            <a href="aboutus"
                                class="list-group-item list-group-item-action button-decoration1 text-center active">About Us</a>
                        </div>
                        <div class="d-flex justify-content-center bg-dark">
                            <a class="btn btn-lg btn-outline-danger mb-5" href="/"><b>Log Out</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--sidebar menu-->
<!--main start-->
<main>
    <section>
        <div class="container-fluid">
            <!--row-1-->
            <div class="row bg-warning">
                <!--row-1 col-1-->
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="promo-3.jpg" height="497px" width="100%"/>
                </div>
                <!--row-1 col-1 end -->
                <!--row-1 col-2-->
                <div class="col-md-6 text-center">
                    <h1 class="display-4">ABOUT US</h1>
                    <blockquote class="blockquote">
  <p class="mb-0 text-justify ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
  </p>
  <footer class="blockquote-footer">Ceo of the company <cite title="Source Title">Sadiking</cite></footer>
</blockquote>
                </div>
                <!--row-1 col-2 end-->
            </div>
            <!--row-1-end-->
        </div>
    </section>
</main>
<!--main end-->

<!--footer start-->
<footer class="footer mt-auto py-3 bg-dark text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto mr-auto">
                <img src="logo.png" width="80" height="40" class="" alt="">
            </div>
            <div class="col-auto my-auto">
                <span>© 2019 FLASH Technologies Inc.</span>
            </div>
            
        </div>
    </div>
</footer>
<!--header end-->