<!-- Page Content  -->


<div class="click-temp">
    <div class="header-overlay"> </div>



    <div class="input-group mb-3 header-overlay2">
        <input type="text" class="form-control" placeholder="Source" aria-label="Recipient's username"
            aria-describedby="basic-addon2" id="destination">

    </div>
    <div class="input-group mb-3 header-overlay3">
        <input type="text" class="form-control" placeholder="Destination" aria-label="Recipient's username"
            aria-describedby="basic-addon2" id="destination2">

    </div>
    <div class="header-overlay4">
        <button class="btn btn-primary" id="searchCabs">Search Cab</button>
    </div>



</div>




<div class="map-responsive">
    <div id="map"></div>
</div>


<!--<div class="bg-modal">
    <div class="modal-content">
        <div class="close"><a href="#" style="text-decoration: none; color:black">+</a></div>
        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" alt=""
            style="width: 100px; height: 100px;">

        <form style="margin-top: 15px;">
            <div class="form-group">

                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">

                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</div> -->

<div class="bg-modal">
    <div class="col-md-10 column-center no-padding login-bg top-margin">

        <h2 class="center bgimage-head bgimage-head-bottom heading-welcome">Login</h2>
        <div class="col-md-8 column-center no-padding">
            <p class="center email-text-bottom ls">Login in to experiance the Speed</p>
        </div>
        <div id="mc_embed_signup">
            <div class="col-md-5 col-sm-6 col-xs-8 column-center no-padding">
                <div class="form-top">
                    <!--================= YOUR MAILCHIMP ACCOUNT URL HERE ====================-->
                    <form class="loginform" method="POST" id="login-form" action="#">
                        <!--================= EMAIL INPUT BOX HERE ====================-->
                        <div class="clearfix">
                            <label class="label-style" for="email"><b>Email Address</b></label>
                            <input class="form-control place_error shadow" id="login-EMAIL" type="email" name="email"
                                placeholder="Your Mail" required />
                        </div>
                        <div class="clearfix">
                            <label class="label-style" for="email"><b>Password</b></label>
                            <input class="form-control place_error shadow" id="login-PASSWORD" type="password"
                                name="password" style="" placeholder="Your Password" required />
                        </div>
                        <!--================= SIGN IN BUTTON HERE ====================-->
                        <div class="center btn-login">
                            <input type="button" id="mc-embedded-subscribe" class="btn-1 btn-ant shadow" name="submit"
                                value="SIGN IN">
                        </div>
                        <p class="center email-text-bottom ls">or log in with </p>
                        <div class="center">
                            <button class="btn btn-1 button-border shadow"
                                style="margin-right: 10px; border-radius: 50%; height: 50px"><i class="fab fa-google"
                                    aria-hidden="true"></i></button>
                            <button class="btn btn-1 button-border shadow" style="border-radius: 50%; height: 50px"><i
                                    class="fab fa-facebook-square"></i></button>
                            <p class="center signup-bottom2 ls"><b>Don't have an account?</b> <a style="color: #1bbc9b;"
                                    href="/signup">Sign up</a></p>
                        </div>
                        <!--================= SUCCESS AND FAILURE MESSAGE HERE =================-->
                        <div class="center indicator-top" id="ResultMsg"><span id="SuccessMsg"
                                class="email-success"></span><span id="FailureMsg" class="email-failure"></span>
                        </div>

                        <div id="mce-responses">
                            <div class="response response-msg" id="mce-error-response"></div>
                            <div class="response response-msg" id="mce-success-response"></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="booking-card bCard">
    <p>Cab Assigned</p>
    <img src="https://i.pravatar.cc/45" alt="" width="70px" height="70px" style="border-radius: 50%;" id="cabbyAvatar">
    <p id="cabbyName"></p>
    <p id="cabbyNumber"></p>
    <button class="btn btn-warning btn-2">Cancel Ride</button>

</div>
<div class="bg-modal-arrived">
    <div class="cab-arrived">

        <h3 class="text-center">Your Cab has Arrived</h3><br>
        <img src="https://i.pravatar.cc/45" alt="" width="70px" height="70px" style="border-radius: 50%;"
            id="cabbyAvatar">
        <p id="cabbyArrivedName">Rupesh Sharma</p>
        <div style="display: inline;">
            <button class="btn btn-success btn-ride">Ride to Destination</button>
            <button class="btn btn-warning btn-cancel">Cancel Ride</button>

        </div>


    </div>
</div>

<div class="bg-modal-reached">
    <div class="cab-reached">

        <p class="text-center" id="reached"></p><br>
        <p>Thank You for riding with us</p>


        <button class="btn btn-success btn-reached">Pay and Return to Dashboard</button>





    </div>
</div>