<header>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="logo.png" width="80" height="40" class="d-inline-block align-top" alt="">
            </a>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2 button-decoration">
                    <b><a href="login">LOG IN</a></b></button>
                <button class="btn btn-outline-success my-2 my-sm-0 button-decoration"><b><a href="signup">SIGN
                            UP</a></b></button>
            </form>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div>
        <img src="home.png" width="100%" height="481px" class="image mySlides">
        <img src="home2.png" width="100%" height="481px" class="image mySlides">
        <img src="home5.png" width="100%" height="481px" class="image mySlides">
    </div>
</main>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 2 seconds
    }
</script>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-9 align-items-left">
                <img src="logo.png" width="80" height="40" class="" alt="">
            </div>
            <div class="footer-copyright text-center py-3">© 2019 FLASH Technologies Inc.

            </div>
        </div>
    </div>
</footer>