{{!-- <!--================================= NAVIGATION START =============================================-->
<nav class="navbar navbar-default navbar-fixed-top menu-bg" id="top-nav">
    <div class="container">
        <div class="navigation-tb">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a href="#"> <img src="images/logo.png" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right no-margin" id="menu-list">
                    <li class="menu-fs menu-underline"><a href="#" class="pagescroll">home</a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="/login" class="pagescroll">log in</a>
                    </li>
                    <li class="menu-fs menu-underline nav-item active"><a href="/signup" class="pagescroll nav-link">
                            sign up </a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="#" class="pagescroll"> about us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> --}}
<!--================================= NAVIGATION END =============================================-->

<!--================================= Sign up design START =============================================-->
<section class="container-fluid signup-bgimage bgimage-property section-space white-text">
    <div class="container">
        <div class="signup-form">
            <form method="post">
                <h2>SIGN UP</h2>
                <p class="lead">It's free and hardly takes more than 30 seconds.</p>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="fullname" placeholder="Full Name"
                            required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
                        <input type="email" class="form-control" name="email" placeholder="Email Address"
                            required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="text" class="form-control" name="password" placeholder="Password"
                            required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-phone"></i>

                        </span>
                        <input type="text" class="form-control" name="phone" placeholder="Phone Number" required>
                    </div>
                </div>
                <div class="form-group">
                    <a href="/signup"><button type="button" class="btn btn-primary btn-block btn-lg">Sign Up</button></a>
                </div>
                <p class="small text-center">By clicking the Sign Up button, you agree to our <br><a href="#">Terms
                        &amp; Conditions</a>, and <a href="#">Privacy Policy</a>.</p>
            </form>
            <div class="text-center">
                <p>Already have an account?</p> <a href="/login">Login here</a>.
            </div>
        </div>

    </div>
</section>
<!--================================= END =============================================-->