.bg-dark
{
    background-color:#000000 !important;
}

.button-decoration
{
    color: rgb(238, 210, 54);
    border-color:rgb(238, 210, 54); !important;
    background-color: #000000;
    border-radius: 0px;
}

.button-decoration1
{
    color: rgb(238, 210, 54);
    background-color: #000000;
    border-radius: 0px;
}
.button-decoration1:hover
{
    color: black;
    background-color:  rgb(238, 210, 54);
}

.navbar-toggler-icon
{
    color: rgb(238, 210, 54);
}

.button-decoration:hover
{
    color: black;
    background-color:  rgb(238, 210, 54);
}

.button-decoration a 
{
    color: rgb(238, 210, 54);
    text-decoration: none;
}

.button-decoration a:hover
{
    color: black;
}

.login {
    background-image: url("1.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size:  cover;
   }

.signup {
    background-image: url("signup.jpeg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size:  cover; 
   }

   .bg-login
   {
       background-color:  rgb(238, 210, 54);
       color: black;
   }

   .form-control
   {
       border-radius: 0px !important;
   }

   .login-decoration
{
    color: #000000;
    border-color: #000000 !important;
    border-radius: 0px;
}

.login-decoration:hover
{
    color:  rgb(238, 210, 54);
    background-color: #000000;
}

.color
{
    color: #000066;
}

.social-button
{
    border-radius: 0px;
}

.image-circle
{
    border-radius: 50%;
}

.user-text
{
    color: white;
}

.menu
{
        position: absolute;
        z-index: 1;
        width: 100%;
}

.button-decoration2
{
    color: #000000;
    border-color: #000000 !important;
    border-radius: 0px;
}

.button-decoration2:hover
{
  color:  rgb(238, 210, 54);
  background-color: #000000;
}

button
{
    border-radius: 0px !important;
}

a
{
    border-radius: 0px !important;
}